{% extends 'base.html.twig' %}

{% block title %}ALIMENTOS{% endblock %}

{% block body %}
    <h1>ALIMENTOS</h1>

    <table id="tablaShow" class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ alimento.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ alimento.nombre }}</td>
            </tr>
            <tr>
                <th>Precio</th>
                <td>{{ alimento.precio }}</td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{{ alimento.fecha ? alimento.fecha|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_ali_index') }}">Atrás</a>

    <a href="{{ path('app_ali_edit', {'id': alimento.id}) }}">Editar</a>

    {{ include('ali/_delete_form.html.twig') }}
{% endblock %}
